<div class="container">
<div class="rows">
<div class="col-lg-8">
<h2>Hello ! Bootstrap 4 Example using harp.js</h2>
</div>
<div class="col-lg-4">
<h3> *Some Random text*  </h3>
</div>
<div class="col-lg-12">
<p class="text-primary"> This is it!
No zxen pomocijsx eda, tot domo mnoguo slozxju iz. Ona ribaf odnakju kontainer ja. Vi jazika imenijt sos. Den vnov minutis potrebijm ja. Te dva hceme pomocijsx, iz znajm despiat pravdauo gda. Priatel ukrainzem li dla, vo tut vsesxto lezxajm. Vi tak mezxu varenie, vi pisat hrebet videnies sam.
Vo tak realuo utratite, oni polnil mnoguo germanju es, vnov glosuf ja vse. Vo detes chcel zxenis tot, vnov narodis celuvajt uzx bo, glosuf cxitanie tri bo. Den voda divajte na, bil sxuflad aspektis no. Piat lukas sledju so bil, so glosuf politia posteluf kak. Edat robit laskajut sos te, okno cxai gotovijut no tri. 
</p>
</div>
</div>
</div> 
